[submodule "third_party/cosmos-sdk"]
	path = third_party/cosmos-sdk
	url = git@github.com:cosmos/cosmos-sdk
[submodule "third_party/cosmos-proto"]
	path = third_party/cosmos-proto
	url = git@github.com:cosmos/cosmos-proto
[submodule "third_party/gogoproto"]
	path = third_party/gogoproto
	url = git@github.com:cosmos/gogoproto
[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = git@github.com:googleapis/googleapis
