[submodule "third_party/cosmos-sdk"]
	path = third_party/cosmos-sdk
	url = git@github.com:cosmos/cosmos-sdk
[submodule "third_party/cosmos-proto"]
	path = third_party/cosmos-proto
	url = git@github.com:cosmos/cosmos-proto
